body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif; }

.app__map {
  width: 100%; }
  .app__map img {
    width: 100%; }

.app__warriors {
  position: absolute;
  top: 0px; }

.app__panel {
  display: flex; }

.app__block > div {
  height: 40px;
  line-height: 40px;
  vertical-align: middle; }

.panel .panel-heading,
.panel .panel-body {
  padding-left: 30px; }

.row {
  margin: 0; }

.circle-picker {
  margin-top: 10px;
  width: 380px !important; }
