body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: sans-serif;
}


.app {
	&__map {
		width: 100%;
		img {
			width: 100%;
		}
	}
	&__warriors {
		position: absolute;
		top: 0px;
	}
	&__panel {
		display: flex;
	}
	&__block {
		> div {
			height: 40px;
			line-height: 40px;
			vertical-align: middle;
		}
	}
}

// bootstrap styles reassignment
.panel {
	.panel-heading,
	.panel-body {
		padding-left: 30px;
	}
}

.row {
	margin: 0;
}
// bootstrap styles reassignment

// colorPicker reassignment
.circle-picker {
	margin-top: 10px;
	width: 380px !important;
}
// colorPicker reassignment
