body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

td {
  padding: 2px 10px !important; }

.app {
  min-width: 800px; }
  .app__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding-right: 15px;
    margin-bottom: 0px !important;
    height: 40px !important;
    background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%); }
    .app__header-lable {
      color: #fff;
      margin-left: 15px; }
    .app__header-buttons {
      display: flex;
      flex-wrap: nowrap; }
      .app__header-buttons button {
        margin: 0 10px; }
    .app__header-button-group {
      margin-left: 10px; }
    .app__header-reset-button {
      width: 15px;
      height: 15px; }
  .app__map {
    width: 100%; }
    .app__map img {
      width: 100%; }
  .app__warriors {
    position: absolute;
    top: 0px; }
  .app__panel {
    display: flex;
    margin-left: 15px; }
    .app__panel-status {
      color: red; }
    .app__panel-red {
      color: red; }
    .app__panel div {
      white-space: nowrap; }
  .app__block {
    display: flex;
    flex-flow: row; }
    .app__block-name {
      width: 80px; }
    .app__block > div {
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
      white-space: nowrap; }
  .app__form-buttons {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 15px; }
  .app__form-button-long {
    width: 70px; }

.control-label {
  white-space: nowrap; }

.row {
  margin: 0 !important; }

.app__header-select-map {
  width: 160px !important; }

.panel {
  margin-bottom: 0px !important; }

.circle-picker {
  flex-flow: row;
  flex-wrap: nowrap !important;
  margin-top: 10px; }
