body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

td {
    padding: 2px 10px !important;
}

.app {
	min-width: 800px;
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		padding-right: 15px;
		margin-bottom: 0px !important;
		height: 40px !important;
		background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
		&-lable {
			color: #fff;
			margin-left: 15px;
			button {
				margin: 0 10px;
			}
		}
		&-buttons {
			display: flex;
			flex-wrap: nowrap;
			button {
				margin: 0 2px;
			}
		}
		&-button-group {
			margin-left: 10px;
		}
		&-reset-button {
			width: 15px;
			height: 15px;
		}
	}
	&__map {
		width: 100%;
		img {
			width: 100%;
		}
	}
	&__warriors {
		position: absolute;
		top: 0px;
	}
	&__panel {
		display: flex;
		margin-left: 15px;
		&-status {
			color: red;
		}
		&-red {
			color: red;
		}
		div {
			white-space: nowrap;
		}
	}
	&__block {
		display: flex;
		flex-flow: row;
		&-name {
			width: 80px;
		}
		> div {
			height: 40px;
			line-height: 40px;
			vertical-align: middle;
			white-space: nowrap;
		}
	}
	&__form {
		&-buttons {
			display: flex;
			flex-wrap: nowrap;
			margin-top: 15px;
		}
		&-button-long {
			width: 70px;
		}
	}
}

// bootstrap styles reassignment
.control-label {
	white-space: nowrap;
}

.row {
	margin: 0 !important;
}

.app__header {
	&-select-map {
		width: 160px !important;
	}
}
// bootstrap styles reassignment

// colorPicker reassignment
.circle-picker {
	flex-flow: row;
	flex-wrap: nowrap !important;
	margin-top: 10px;
}
// colorPicker reassignment
